.class
*.log
.history

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ
.idea/
*.iml
*.iws

# Metals
.metals/
.bloop/
metals.sbt
.vscode
.bsp

# vim swap files
*.swp
.*.swp

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac
.DS_Store
